<div class="header">
    <ul class="header-menu">
        <li><p class="header-user">Bonjour <strong>Thibault</strong></p></li>
        <li><a [routerLink]="['/logout']"><i class="fa-solid fa-arrow-right-from-bracket"></i></a></li>
    </ul>
</div>

<div class="sidebar">
    <img src="../../../../assets/images/icon.png" alt="logo" class="sidebar-logo">
    <ul class="sidebar-menu">
        <li><a [routerLink]="['/dashboard']"><i class="fa-solid fa-house-chimney"></i></a></li>
        <li><a [routerLink]="['/dashboard/checkout']" ><i class="fa-solid fa-credit-card"></i></a></li>
        <li><a [routerLink]="['/dashboard/invoice']" ><i class="fa-solid fa-copy"></i></a></li>
        <li><a [routerLink]="['/dashboard/client']"><i class="fa-solid fa-user"></i></a></li>
        <li><a [routerLink]="['/dashboard/staff']"><i class="fa-solid fa-users"></i></a></li>
        <li><a [routerLink]="['/dashboard/calendar']"><i class="fa-solid fa-clock"></i></a></li>
        <li><a [routerLink]="['/dashboard/stock']"><i class="fa-solid fa-bag-shopping"></i></a></li>
        <li><a [routerLink]="['/dashboard/quotation']"><i class="fa-solid fa-book"></i></a></li>
        <li><a [routerLink]="['/dashboard/charts']"><i class="fa-solid fa-chart-line"></i></a></li>
    </ul>
</div>