/*
SIDEBAR
*/

.sidebar {
    width: 90px;
    height: 100%;
    position: fixed;
    overflow: scroll;
    background-color: #ffffff;
    color: black;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    justify-content: center;
}

.sidebar::-webkit-scrollbar {
    display: none;
}

.sidebar .sidebar-logo {
    width: 80px;
    height: 80px;
    display: flex;
    margin: 0 auto;
}

.sidebar .sidebar-menu {
    display: flex;
    flex-direction: column;
    padding-top: 100px;
}

.sidebar .sidebar-menu li {
    margin-top: 20px;
    padding-left: 5px;
}

.sidebar .sidebar-menu li a {
    color: black;
}

.sidebar .sidebar-menu li a:hover {
    color: #ABB2B9;
}   

/*
HEADER
*/

.header {
    box-sizing: border-box;
    height: 60px;
    position: fixed;
    display: block;
    background-color: #ffffff;
    width: 100%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.header .header-menu {
    float: right;
    display: inline-flex;
    margin-top: 10px;
    margin-right: 30px;
}

.header .header-menu li {
    padding-left: 20px;
}

.header .header-menu li .header-user {
    font-size: 20px;
    margin-top: 5px;
}

.header .header-menu li:last-child a {
    color: black;
    font-size: 20px;
}

.header .header-menu li:last-child {
    margin-top: 5px;
}

.header .header-menu li:last-child a:hover {
    color: #ABB2B9;
}