@import '~bulma/css/bulma.css';

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

html,
body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    height: 100%;
    background-color: #D5D8DC;
}

#root {
    height: 100%;
}

.content {
    color: black;
    box-sizing: border-box;
    position: absolute;
    margin-left: 90px;
    margin-top: 60px;
    height: calc(100% - 60px);
    width: calc(100% - 90px);
}